<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="exercise/1"  routerLinkActive="active">Exercise 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exercise/2" routerLinkActive="active">Exercise 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/exercise/3" routerLinkActive="active">Exercise 3</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/exercise/4" routerLinkActive="active">Exercise 4</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/exercise/5" routerLinkActive="active">Exercise 5</a>
        </li>
</ul>